@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Noto+Sans+KR:wght@400;500;700&family=Poor+Story&display=swap');
.logoImg {
    width:150px;
    height:70px;
    float:left;
    margin-top: -15px;
}
.li-a{
    white-space: pre;
    border: none;
    background: transparent;
    padding: 15px 25px;
    font-family: 'ImcreSoojin';
}

.bar{
    padding-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

/*.group-3 {*/
/*    align-items: flex-start;*/
/*    display: flex;*/
/*    height: 24px;*/
/*    margin-bottom: 1px;*/
/*    margin-left: 70px;*/
/*    padding: 15px;*/
/*    width: 750px;*/
/*}*/


/*.group-3-item {*/
/*    color: black;*/
/*    letter-spacing: -0.38px;*/
/*    line-height: 24px;*/
/*    margin-left: 26px;*/
/*    min-height: 24px;*/
/*    text-align: center;*/
/*    white-space: nowrap;*/
/*    width: 173px;*/
/*    font-family: "Montserrat";*/
/*    font-weight: 700;*/
/*    font-size: 20px;*/
/*}*/
