.recordingList {
    background-color:#e0e0e0;
    background-size: cover;
    /* padding-bottom: 5rem; */
    height: 100vh;
    overflow: hidden;
}

.list_board{
    text-align: left;
    margin: 10px auto;
    width: 60%;
    height: 80vh;
    background-color: #B4C6A6;
    border-radius: 10px;
    overflow: auto;
    /* border: aliceblue 6px solid; */
}


.date {
    display: inline-flex;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin: auto 0;
}
#recording_date {
    margin: auto 0 auto 4%;
    font-size: 30px;
}

.time {
    display: inline-flex;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin: auto 0;
}
#recording_time {
    margin: auto 0 auto 40%;
    font-size: 30px;
}
#end{
    width: 57%;
    margin: auto;
}

#captured {
    position: relative;
    margin-top: 10px;
    display: block;
    /* margin-left: 90px; */
    width: auto;
    height: 150px;
}

.stopButton {
    width: 910px;
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    height: 60px;
    position: fixed;
    bottom: 3%;
}

.stopButton #btnCapture {
    cursor: pointer;
    background-color: #C54AC7;
    color: papayawhip;
    width: 120px;
    height: 60px;
    border: none;
    font-size: 2rem;
    border-radius: 5px;
    font-family: 'CookieRunOTF-Bold';
}